.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
*.swp
/build
signing.properties
*.keystore
*.iml
app/libs/luaj-src
manual.sh
ScriptTester/class
ScriptTester/project
ScriptTester/target
*.swo
